# Carpetas y archivos de desarrollo
dist
node_modules
.cache
*.log
.vscode/
.env

# Temporales
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/datos
/datos-desarrollo
/dump/*
!/dump/README.md
/uploads
/datos-buscador
/datos-buscador-desarrollo
/pgadmin