services:
  # ----- CONTENEDOR PARA BASE DE DATOS -----
  bd:
    container_name: arca-cms-bd-desarrollo
    image: postgis/postgis:13-master
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./datos:/var/lib/postgresql/data
    networks:
      - arca-cms-red-desarrollo
    environment:
      POSTGRES_USER: ${BD_USUARIO}
      POSTGRES_PASSWORD: ${BD_CLAVE}
      POSTGRES_DB: ${BD_NOMBRE_BD}
    healthcheck:
      test: ['CMD', 'pg_isready', '--host=localhost', '--username=${BD_USUARIO}']
      interval: 10s
      timeout: 5s
      retries: 5
      start_interval: 5s
      start_period: 30s

  # ----- CONTENEDOR PARA SISTEMA CACHE -----
  cache:
    container_name: arca-cms-cache-desarrollo
    image: redis:6
    healthcheck:
      test: ['CMD-SHELL', "[ $$(redis-cli ping) = 'PONG' ]"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_interval: 5s
      start_period: 30s
    networks:
      - arca-cms-red-desarrollo

  # ----- CONTENEDOR PARA CMS -----
  directus:
    container_name: arca-cms-desarrollo
    image: directus/directus:11.14.0
    ports:
      - ${CMS_PUERTO}:8055
    volumes:
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
    networks:
      - arca-cms-red-desarrollo
    depends_on:
      cache:
        condition: service_healthy
      bd:
        condition: service_healthy

    environment:
      PUBLIC_URL: ${CMS_URL}
      KEY: ${CMS_LLAVE}
      SECRET: ${CMS_SECRETO}
      CORS_ENABLED: 'true'
      CORS_ORIGIN: 'true'
      # LOG_LEVEL: 'trace'
      # LOG_LEVEL: 'fatal'
      # EXTENSIONS_AUTO_RELOAD: true

      DB_CLIENT: 'pg'
      DB_HOST: 'arca-cms-bd-desarrollo'
      DB_PORT: '5432'

      DB_DATABASE: ${BD_NOMBRE_BD}
      DB_USER: ${BD_USUARIO}
      DB_PASSWORD: ${BD_CLAVE}

      CACHE_ENABLED: 'true'
      CACHE_AUTO_PURGE: 'true'
      CACHE_STORE: 'redis'
      REDIS: 'redis://cache:6379'

      ADMIN_EMAIL: ${CMS_EMAIL}
      ADMIN_PASSWORD: ${CMS_CLAVE}

      # EMAIL_FROM: ${EMAIL_CORREO}
      # EMAIL_TRANSPORT: ${EMAIL_TIPO}
      # EMAIL_SMTP_HOST: ${EMAIL_SMTP_PROVEEDOR}
      # EMAIL_SMTP_PORT: ${EMAIL_SMTP_PUERTO}
      # EMAIL_SMTP_USER: ${EMAIL_SMTP_USUARIO}
      # EMAIL_SMTP_PASSWORD: ${EMAIL_SMTP_CLAVE}

      ASSETS_TRANSFORM_IMAGE_MAX_DIMENSION: '9000'
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      MEILI_BD_URL: 'arca-bdbuscador-desarrollo'

  administrador:
    container_name: arca-pgadmin-desarrollo
    image: dpage/pgadmin4
    volumes:
      - ./pgadmin:/var/lib/pgadmin
    networks:
      - arca-cms-red-desarrollo
    depends_on:
      - bd
    ports:
      - '5050:80'
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin

  meilisearch:
    container_name: arca-bdbuscador-desarrollo
    image: getmeili/meilisearch:v1.31.0
    volumes:
      - ./datos-buscador-desarrollo:/meili_data
    networks:
      - arca-cms-red-desarrollo
    depends_on:
      - bd
      - directus
    ports:
      - '7700:7700'
    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}

networks:
  arca-cms-red-desarrollo:
